<div>

  <!-- Turbo Frame for rendering the content -->
  <%= turbo_frame_tag 'content_frame' do %>
    <%= render 'dashboard/weekly_data', total_revenue: @total_revenue, cogs: @cogs, profit: @profit, new_face_to_face_revenue: @new_face_to_face_revenue, return_face_to_face_revenue: @return_face_to_face_revenue, online_revenue: @online_revenue %>
    <%= render 'sales/weekly_sales_record', sales: @sales %>
  <% end %>
</div>