<div class="bg-white shadow-lg rounded-lg p-6 mb-8">
  <h1 class="text-3xl font-semibold mb-8 text-gray-800">Edit Sale Type</h1>
  
  <%= render 'form', sale_type: @sale_type %>
  
  <%= link_to 'Back to Sale Types', sale_types_path, class: 'mt-4 inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
</div>